* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    /* height: 300px;  Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 350px;
    }
  }

  label {
    font-weight: bolder;
    display: inline-block;
    width: 120px;
    text-align: left;
  }
  ::placeholder {
    text-align: end;
  }
  
  * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-size-adjust: none;
  }
  button {
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 200px;
    font-size: larger;
  }
    p .highlight {
    font-weight: bold;
  }
